**/.vscode**
**/build**
**/build/**
**/CMakeUserPresets.json
**/3rd_party_conanpackages/**
.idea/**
**/cmake-**/**
CMakeUserPresets.json
CMakePresets.json
.DS_Store
**/.DS_Store
/tests/verify_security.py
**/__pycache__/
*.pyc
pt_api_keys.plaintext.json
/DigitalTwinLib/resources/grammars/.antlr
/config.cfg
.cache/
compile_commands.json
